.button {
  color: white;
  display: inline-block;
  border: 0;
  text-decoration: none;
  padding: 8px 13px 7px;
  border-radius: 3px;
  font-size: 14px;
  -webkit-appearance: none
}

.button-main {
  background-color: #CC0000;
}

.button-yellow {
  background-color: #FF9999;
}
