body {
  color: #170a45;
  font-family: 'Trebuchet MS', sans-serif;
}

a, button {
  color: #880000;
}

.title-lg {
  font-size: 175%;
}

.title-md, .title {
  font-size: 150%
}

.title-sm {
  font-size: 125%;
}

.text-sm {
  font-size: 80%;
}

.text-grey {
  color: #a0a0a0;
}

.hidden-text {
  color: gray;
}

.text-bold {
  font-weight: bold;
}

.text-red {
  color: #CC0000;
}

.text-dark-red {
  color: #7c0008;
}

.text-center {
  text-align: center;
}
